@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "WineAcademy";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(96% 0 0);
  --color-base-400: oklch(94% 0 0);
  --color-base-500: oklch(92% 0 0);
  --color-base-600: oklch(90% 0 0);
  --color-base-700: oklch(88% 0 0);
  --color-base-800: oklch(86% 0 0);
  --color-base-900: oklch(84% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(80% 0.105 251.813);
  --color-primary-content: oklch(39% 0.09 240.876);
  --color-secondary: #506A7E;
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(0.583 0.082 244.6);
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(80% 0.105 251.813);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(80% 0.105 251.813);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(70% 0.14 182.503);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.21875rem;
  --size-field: 0.25rem;
  --border: var(--ui-border-line-width);
  --depth: 1;
  --noise: 1;
}

:root {
  color-scheme: light;
  --ui-border-line-width: 1px;
  --ui-border-line-color: var(--color-base-700);
}

body {
  @apply min-h-screen bg-base-200 text-base-content antialiased;
}

@layer base {
  h1 {
    font-family: var(--font-serifbabe), ui-serif, Georgia, serif;
    @apply text-6xl font-light leading-tight text-base-content;
  }

  h2,
  h3 {
    font-family: var(--font-serifbabe), ui-serif, Georgia, serif;
  }

  @screen md {
    h1 {
      @apply text-5xl;
    }
  }
}

@layer utilities {

  .input,
  .textarea,
  .select,
  .checkbox,
  .radio,
  .toggle,
  .input:focus,
  .textarea:focus,
  .select:focus,
  .checkbox:focus,
  .radio:focus,
  .toggle:focus {
    border-color: var(--ui-border-line-color);
  }

  .ui-border-bottom {
    border-bottom-width: var(--ui-border-line-width);
    border-bottom-style: solid;
    border-bottom-color: var(--ui-border-line-color);
  }

  .ui-border-top {
    border-top-width: var(--ui-border-line-width);
    border-top-style: solid;
    border-top-color: var(--ui-border-line-color);
  }

  .ui-border {
    border-width: var(--ui-border-line-width);
    border-style: solid;
    border-color: var(--ui-border-line-color);
  }

  .ui-divide > :not([hidden]) ~ :not([hidden]) {
    border-top-width: var(--ui-border-line-width);
    border-top-style: solid;
    border-top-color: var(--ui-border-line-color);
  }


  .select:focus,
  .select:focus-visible,
  .select:focus-within {
    outline: none;
  }

  .btn.btn-ghost,
  .btn.btn-ghost:hover,
  .btn.btn-ghost:focus,
  .btn.btn-ghost:focus-visible,
  .btn.btn-ghost:active {
    --btn-bg: transparent;
    --btn-border: transparent;
    --btn-noise: none;
    --btn-shadow: none;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    border-color: transparent;
    border-width: 0;
  }
}
